{% extends "@FOSUser/layout.html.twig" %}

{% block content %}

    {% for flash_message in app.session.flashBag.get('notice') %}
        <div class="alert alert-info">
            <strong>Info!</strong> {{ flash_message }}
        </div>
    {% endfor %}

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Video name</th>
            <th>Video description</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        {% for video in videos %}
            <tr>
                <td>{{ video.name }}</td>
                <td>{{ video.description }}</td>
                <td>Not available</td>
                {#<td><a href="{{ path('video.update', {'id': video.id}) }}">Update</a></td>#}
                <td><a href="{{ path('video.delete', {'id': video.id}) }}">Delete</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('video.add') }}">Add new movie >></a>
{% endblock %}
