{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% extends "@FOSUser/layout.html.twig" %}

{% block content %}

    <a href="{{ path('video.list') }}"><< back to video list</a>

    {% for flash_message in app.session.flashBag.get('notice') %}
        <div class="alert alert-info">
            <strong>Info!</strong> {{ flash_message }}
        </div>
    {% endfor %}

    <h1>Adding a new movie</h1>

    {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.description) }}
        {{ form_row(form.file) }}
    {{ form_end(form) }}
{% endblock %}
